html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    
}
#particles-js{
    height: 100%;
    background: #45494f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-name {
    color: white;
    margin-top: -40px;
    margin-left: 190px;
    text-align: center;
    position: absolute;
    animation: type 2s steps(10);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
}
.cursor{
    display: inline-block;
    width: 3px;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
.cursor.typing{
    animation: none;
    background-color: white;
}
.center-info {
    margin-left: 190px;
    margin-top: 50px;
    text-align: center;
    position: absolute;
}
.center{
    margin: 0 auto;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    margin-left: -150px;
}

a{
    font-size: 50px;
}

.social-link {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out; }
    .social-link:last-child {
      margin-right: 0; }
    .social-link:hover {
      text-decoration: none;
      color: #ffffff; }

.social-link .instagram{
    margin-left: -180px;
    margin-top: 150px;
    color: white;
    background-image: linear-gradient(to bottom right, #405DE6, #5851DB,#833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}.social-link .instagram:hover {
    text-decoration: none;
    color: black; }

.social-link .twitter{
    margin-left: -90px;
    margin-top: 150px;
    color: white;
    background-color: #1DA1F2;
}.social-link .twitter:hover {
    text-decoration: none;
    color: black; }

.social-link .discord{
    margin-left: 0px;
    margin-top: 150px;
    color: #23272A;
    background-color: #7289DA;
}.social-link .discord:hover {
    text-decoration: none;
    color: #FFFFFF; }

.social-link .youtube{
    margin-left: 90px;
    margin-top: 150px;
    color: #ffffff;
    background-color: red;
}.social-link .youtube:hover {
    text-decoration: none;
    color: black; }

.typed-text{
    font-weight: normal;
    color: orange;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}
@keyframes blink{
    0% { background-color: white; }
    49%{ background-color: white; }
    50%{ background-color: transparent;}
    99%{ background-color: transparent;}
    100%{ background-color: white; }
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: green;
  }


.bio {
    background-color: #262626;
}


.footer {
    background-color: #1d1d1e;
    padding: 50px 0;
}

.footer .item.text{
    margin-bottom: 36px;
}

.footer .item.social{
    text-align: center;
}

.footer .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }

.footer .item.social > a:hover {
    background-color: #474350;
  }

.footer .copyright{
    text-align: center;
    padding-top: 24px;
    font-family: consolas;
    font-size: 20px;
    color: white;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    width: 50%;
    padding: 10px;
    margin: 0;
}

.box-container h1 {
    padding-top: 20px;
    font-family: consolas;
    color: green;
    font-size: 40px;
    padding-bottom: 20px;
    padding-left: -20px;
}

.box-container p {
    font-family: consolas;
    color: white;
    font-size: 20px;
}

.projekts{
    color: rgb(231, 162, 13);
    font-size: 20px;
    font-family: consolas;
} 
.projekts:hover {
    color: rgb(231, 162, 13);
    text-decoration: none;
}
.back {
    padding-left: -50%;
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    margin: 0 8px;
    color: #7c7c7c;
    opacity: 0.75;
    position: absolute;
}

.box-container .skilstext{
    color: rgb(231, 162, 13); 
    font-size: 25px;
}

.box-container .skills-number1{
    padding-left:90%;
}
.box-container .skills-number2{
    padding-left:88%;
}
.box-container .skills-number3{
    padding-left:84%;
}
.box-container .skills-number4{
    padding-left:68%;
}

@media only screen and (max-width:700px) {
    html {
        overflow-x: hidden;
    }
    #particles-js{
        width: 100%;
        overflow-x: hidden;
    }
    
    .footer .item.social > a {
        font-size: 28px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        color: #fff;
        opacity: 0.75;
      }
    
    .footer .copyright{
        padding-top: 24px;
        font-size: 20px;
    }


    .box-container{
        width: 80%;
        padding: 10px;
        margin: 0;
    }
    
    .box-container h1 {
        padding-top: 15px;
        font-size: 30px;
        padding-bottom: 15px;
    }
    
    .box-container p {
        font-size: 15px;
    }
    
    .projekts{
        font-size: 15px;
    } 
    .box-container .skilstext{
        font-size: 18px;
    }

    .box-container .skills-number1{
        padding-left:80%;
    }
    .box-container .skills-number2{
        padding-left:78%;
    }
    .box-container .skills-number3{
        padding-left:64%;
    }
    .box-container .skills-number4{
        padding-left:20%;
    }

    .back {
        font-size: 15px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }


    .center-name {
        margin-top: -40px;
        margin-left: 0px;
        font-family: consolas;
        font-size: 30px;
    }
    .cursor{
        display: inline-block;
        width: 2px;
        margin-left: 0.1rem;
        animation: blink 1s infinite;
    }

    .center-info {
        margin-left: 0px;
        margin-top: 80px;
        font-size: 25px;
    }

    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        margin-left: 0px;
        margin-top: -150px;
    }

    a{
        font-size: 35px;
    }

    .social-link {
        display: inline-block;
        text-align: center;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        position: absolute;
        transition: all 0.3s ease-in-out; }


        .social-link .instagram{
            margin-left: -160px;
            margin-top: 150px;
        }
        
        .social-link .twitter{
            margin-left: -75px;
            margin-top: 150px;
        }
        
        .social-link .discord{
            margin-left: 15px;
            margin-top: 150px;
        }
        
        .social-link .youtube{
            margin-left: 100px;
            margin-top: 150px;
        }
}