html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #2C2F33;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* New Utils */

.wraper {
  position: absolute;
  width: 100%;
}

.centerMain h1 {
  position: relative;
  text-align: left;
  padding-left: 30px;
  font-family: consolas;
  color: #7289DA;
}

.centerBox{
  text-align: center;
  background: transparent;
  position: absolute;
  display: flexbox;
  justify-content: center;
  justify-items: center;
  width: 50%;
  margin-left: 50vh;
}

.centerMain h2 {
  position: relative;
  background: transparent;
  text-align: left;
  padding-left: 30px;
  color: white;
}
.centerMain{
  text-align: center;
  background: #39393a;
  padding-top: 5%;
  padding-bottom: 10%;
  border-radius: 40px;
  position: relative;
  justify-content: center;
  justify-items: center;
  margin-top: 30%;
  width: 100%;
}

.ContentMove{
  margin-top: -10%;
  padding-top: 20px;
}

.Banner{
  padding-top: 0 !important;
  margin-top: -12% !important;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative !important;
  height: 20% !important;
  width: 100% !important;
}

.Banner span {
    display: flex !important;
    overflow: visible !important;
}

.Avatar{
  margin-top: -50px;
  position: relative;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.LoadTime{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 42%;
  display: flex;
  color: white;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.centerMain .Links {
  margin-top: -28vh;
  margin-left: 65vh;
  position: absolute;
  display: flex;
}

.socialiconlist {
  justify-content: center;
  text-align: center;
  justify-items: center;
  position: relative;
}

.githubIcon{
  font-size: 50px;
  color: #6f42c1;
}

.twitterIcon {
  font-size: 50px;
  margin-left: 20px;
  color: #1DA1F2;
}

.instagramIcon {
  font-size: 50px;
  margin-left: 20px;
  color: white
}

.discordIcon {
  font-size: 50px;
  margin-left: 20px;
  color: #7289DA;
}

.ContentMove .Center{
  margin-top: 30px;
}

.ContentMove .Center h1{
  font-size: 30px;
}

.ContentMove .Center h2{
  font-size: 20px;
}

@media only screen and (max-width: 1440px){
  .centerMain .Links {
    margin-top: -38vh;
    margin-left: 50vh;
  }  
}

@media only screen and (max-width: 1100px){
  .centerMain .Links {
    margin-top: -43vh;
    margin-left: 30vh;
  }  
}

@media only screen and (max-width: 900px){

  .centerMain{
      top: 20%;
      justify-content: center !important;
      justify-items: center !important;
      align-items: center !important;
      text-align: center !important;
      width: 100%;
      padding-left: 0;
      margin-left: 0;
  }

  .centerBox{
    margin-left: 40vh;
  }

  .centerMain h1 {
      margin-top: 0;
      margin-left: 10vh;
  }
    
  .centerMain h2 {
      margin-left: 10vh;
      margin-top: 0;
  }

  .Avatar{
      margin-left: 12vh;
  }

  .centerMain .Links {
      padding-left: 0;
      margin-left: 8vh;
      margin-top: 5vh;
      position: relative;
  }

  .customText{
    width: 100%;
    background: #2C2F33;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 18px;
  }
}

@media only screen and (max-width: 800px) {
  .customText{
    width: 90%;
    margin-left: 2.5vh !important;
  }

  .customText h2{
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 520px){

  .centerBox{
    margin-top: 15%;
    margin-left: 15vh;
    width: 60%;
  }

  .Avatar{
    margin-left: 6vh;
    width: 150px;
    height: 150px;
  }

  .centerMain .Links {
      padding-left: 0;
      margin-left: 0;
      margin-top: 8%;
      transform: scale(0.8) !important;
  }

  .customText{
    width: 100%;
    margin-left: 2vh !important;
    margin-top: 18px;
  }

  .centerMain h1 {
      margin-top: 0;
      margin-left: 0%;
  }
    
  .centerMain h2 {
      margin-left: 0%;
      margin-top: 0;
  }
}

@media only screen and (max-width: 430px){
  .LoadTime{
    margin-left: 38%;
  }
}

.Footer{
  margin-left: 14px;
  margin-bottom: 10%;
  position: absolute;
  bottom: 0;
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 770px){

  .CustomSideBar{
    width: 13rem !important;
  }

  .Footer{
    display: none;
  }

}

@media screen and (max-width: 450px){

  .CustomSideBar{
    width: 4rem !important;
  }

  .CustomTextSide{
    display: none !important;
  }

  .CustomLogoSide{
    padding-left: 0 !important;
  }
}

.hoverNavItem:hover {
  background: #2C2F33;
  text-decoration: none;
}

.Middle{
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.CustomBorder{
  border-radius: 50%;
}

.blurpur:hover{
  color: #7289DA !important;
} 

.customText{
  width: 90%;
  background: #2C2F33;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 18px;
}

.podpis{
  font-size: 14px;
}

/* Bio Page Config! */

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  position: absolute;
  justify-content: center;
  justify-items: center;
  top: 20vh;
  width: 100%;
  left: 0;
}

.center h1{
  margin-top: 60px;
  padding-left: 220px;
  text-align: center;
  font-family: consolas;
  color: #7289DA;
}

.center h2{
  padding-left: 235px;
  background: transparent;
  text-align: center;
  color: white;
  margin-top: 40px;
}

.bio-container{
  width: 50%;
  padding: 10px;
  margin: 0;
}

.bio-container-2{
  text-align: left;
  display: inline-block;
  width: 90%;
  padding: 10px;
  padding-left: 20px;
  margin: 0;
}

.bio-container h1 {
  font-family: consolas;
  font-size: 40px;
  padding-bottom: 20px;
  margin-left: -100%;
  
}

.p {
  font-family: consolas;
  color: white;
  font-size: 20px;
}

.blurpur {
  color: #7289DA;
}

.blurpur-text {
  color: #7289DA !important;
}

@media only screen and (max-width: 1100px){
  .bio-container{
    width: 80%;
    margin-left: 32vh;
  }
}

@media only screen and (max-width: 800px) {
  .center {
      top: 15%
  }

  .bio-container{
      width: 90%;
  }

  .bio-container-2 {
      width: 90%;
  }

  .bio-container h1 {
      margin-left: -120%;
      font-size: 35px;
  }

  .p {
      font-size: 18px;
  }
}

@media only screen and (max-width: 500px){
  .center {
    top: 4vh;
  }

  .bio-container{
    margin-left: 10vh;
  }
}


/* Info page config! */

.DATABASE {
  width: 40%;
  height: 44px;
  font-size:20px; 
  padding-top: 6px;
  background-image: linear-gradient(to right, #3236a8, #5b32a8, #7208cf); 
}

.DEVOPS {
  width: 64%;
  height: 44px;
  font-size:20px; 
  padding-top: 6px;
  background-image: linear-gradient(to right, #a408cf, #cf08b4, #cf0879); 
}

.FRONTEND{
  width:80%;
  height:44px;
  font-size:20px; 
  padding-top: 6px;
  background-image: linear-gradient(to right, #1cd308, #00a34f, #02c292);
}

.BACKEND{
  width:35%;
  height:44px;
  font-size:20px; 
  padding-top: 6px;
  background-image: linear-gradient(to right, #bf3304, #bf8506, #ced902);
}

.info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  width: 100%;
  top: 16vh;
  left: 0;
}

.w3-container{
  border-radius: 30px;
}

.langs-container{
  padding-left: 50px;
  width: 50%;
  margin: 0;
  position: absolute;
}

.langs-container-3{
  width: 95%;
  padding: 10px;
  padding-left: 20px;
  margin: 0;
  position: absolute;
}

.langs-container .skilstext{
  color: rgb(231, 162, 13); 
  font-size: 25px;
}

.langs-container .skilstext-small{
  color: rgb(231, 162, 13); 
  font-size: 16px;
  margin-left: 20px;
}

.langs-container .skills-number1{
  padding-left:91%;
}
.langs-container .skills-number2{
  padding-left:82%;
}

.langs-container .skills-number5{
  padding-left:84%;
}

.langs-container .skills-number6{
  padding-left:89%;
}

.langs-container h1 {
  padding-top: 20px;
  font-family: consolas;
  font-size: 40px;
  padding-bottom: 20px;
  padding-left: -20px;
}

@media only screen and (max-width: 1440px){
  .langs-container{
    width: 70%;
    margin-left: 25vh;
  }
}

@media only screen and (max-width: 1100px){
  .langs-container{
    width: 74%;
}
}

@media only screen and (max-width: 800px) {
  .info2 {
      top: 15%;
  }

  .langs-container{
      width: 64%;
  }

  .langs-container-3{
      width: 98%;
      padding-left: 0px;
  }

  .langs-container .skilstext {
      font-size: 20px;
  }

  .langs-container .skills-number1{
      padding-left:85%;
  }
  .langs-container .skills-number2{
      padding-left:74%;
  }
  
  .langs-container .skills-number5{
      padding-left:77%;
  }

  .langs-container .skills-number6{
      padding-left:84%;
  }
}

@media only screen and (max-width: 500px){
  .langs-container{
    width: 80%;
    margin-left: 0;
  }

  .langs-container .skills-number1{
    padding-left:80%;
}
.langs-container .skills-number2{
    padding-left:65%;
}

.langs-container .skills-number5{
    padding-left:69%;
}

.langs-container .skills-number6{
    padding-left:80%;
}

}


/* Projekts */
.center2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  position: absolute;
  justify-content: center;
  justify-items: center;
  top: 3vh;
  width: 100%;
  left: 10vh;
}

.FixedTest {
text-decoration: none;
}

.project-container{
  width: 80%;
}

.space-line{
  padding-bottom: 40px;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #7289DA;
  background-clip: border-box;
  border: 3px solid rgba(35, 39, 42, 0.897);
  border-radius: 2.25rem !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
  transform: scale(.9);
  transition: 400ms
}

.card:hover {
  transform: scale(1);
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
}

.card > .list-group:last-child {
  border-bottom-width: 0;
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem !important;
}

.card-header {
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0 !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}


.card-img,
.card-img-top,
.card-img-bottom {
  padding-top: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 95%;
}

.card-img,
.card-img-top  {
  border-radius: 2.25rem !important;
}

.card-img,
.card-img-bottom {
  border-radius: 2.25rem !important;
}

.card-group .card {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1440px){
  .project-container{
    width: 80%;
  }

  .center2{
    top: 1vh;
    width: 100%;
    padding-left: 20vh;
    left: 0;
  }
}

@media only screen and (max-width: 1100px){
  .project-container{
    width: 90%;
  }
  .center2{
    padding-left: 30vh;
  }
}

@media only screen and (max-width: 576px){
  .center2{
    padding-left: 8vh;
  }
}

@media (min-width: 576px) {

  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-group .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/* scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2C2F33;
}

::-webkit-scrollbar-thumb {
  background: #7289DA;
}

@media screen and (max-width: 820px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}





/*   
    Funny IP Finder
*/


.IPFinder{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  position: absolute;
  justify-content: center;
  justify-items: center;
  top: 25%;
  width: 100%;
  left: 0;
}

.IPFinder .data{
  display: flex;
  font-family: consolas;
  color: white;
  flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.IPFinder .data h1{
  font-size: 30px;
}

.IPFinder .data h2{
  font-size: 25px;
}



/*

  404 Page

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

.notfound{
    color: white;
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.notfound-header{
    position: absolute;
    z-index: 1;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    display: grid;
    margin-left: 50vh;
    top: 30%;
}

.notfound-header h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.notfound-header .number {
    font-size: 80px;
}

@media screen and (max-width: 1024px){
  .notfound-header{
    margin-left: 35vh;
  }
}

@media screen and (max-width: 520px){
  .notfound-header{
    margin-left: 10vh;
  }
}

/* New Glitch*/

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(71px, 9999px, 51px, 0);
    transform: skew(0.85deg);
 }
  5% {
    clip: rect(36px, 9999px, 51px, 0);
    transform: skew(0.44deg);
 }
  10% {
    clip: rect(56px, 9999px, 85px, 0);
    transform: skew(0.93deg);
 }
  15% {
    clip: rect(96px, 9999px, 25px, 0);
    transform: skew(0.14deg);
 }
  20% {
    clip: rect(60px, 9999px, 25px, 0);
    transform: skew(0.74deg);
 }
  25% {
    clip: rect(19px, 9999px, 24px, 0);
    transform: skew(0.81deg);
 }
  30% {
    clip: rect(28px, 9999px, 13px, 0);
    transform: skew(0.78deg);
 }
  35% {
    clip: rect(98px, 9999px, 81px, 0);
    transform: skew(0.51deg);
 }
  40% {
    clip: rect(42px, 9999px, 68px, 0);
    transform: skew(0.96deg);
 }
  45% {
    clip: rect(76px, 9999px, 50px, 0);
    transform: skew(0.25deg);
 }
  50% {
    clip: rect(82px, 9999px, 30px, 0);
    transform: skew(0.56deg);
 }
  55% {
    clip: rect(97px, 9999px, 3px, 0);
    transform: skew(0.32deg);
 }
  60% {
    clip: rect(20px, 9999px, 71px, 0);
    transform: skew(0.11deg);
 }
  65% {
    clip: rect(5px, 9999px, 65px, 0);
    transform: skew(0.93deg);
 }
  70% {
    clip: rect(17px, 9999px, 11px, 0);
    transform: skew(0.17deg);
 }
  75% {
    clip: rect(6px, 9999px, 87px, 0);
    transform: skew(0.85deg);
 }
  80% {
    clip: rect(50px, 9999px, 80px, 0);
    transform: skew(0.62deg);
 }
  85% {
    clip: rect(85px, 9999px, 85px, 0);
    transform: skew(0.54deg);
 }
  90% {
    clip: rect(72px, 9999px, 73px, 0);
    transform: skew(0.89deg);
 }
  95% {
    clip: rect(10px, 9999px, 94px, 0);
    transform: skew(0.14deg);
 }
  100% {
    clip: rect(25px, 9999px, 52px, 0);
    transform: skew(0.35deg);
 }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(81px, 9999px, 91px, 0);
    transform: skew(0.31deg);
 }
  5% {
    clip: rect(58px, 9999px, 59px, 0);
    transform: skew(0.12deg);
 }
  10% {
    clip: rect(95px, 9999px, 23px, 0);
    transform: skew(0.02deg);
 }
  15% {
    clip: rect(31px, 9999px, 59px, 0);
    transform: skew(0.47deg);
 }
  20% {
    clip: rect(60px, 9999px, 89px, 0);
    transform: skew(0.7deg);
 }
  25% {
    clip: rect(78px, 9999px, 49px, 0);
    transform: skew(0.09deg);
 }
  30% {
    clip: rect(98px, 9999px, 69px, 0);
    transform: skew(0.25deg);
 }
  35% {
    clip: rect(36px, 9999px, 82px, 0);
    transform: skew(0.23deg);
 }
  40% {
    clip: rect(88px, 9999px, 61px, 0);
    transform: skew(0.35deg);
 }
  45% {
    clip: rect(24px, 9999px, 53px, 0);
    transform: skew(0.44deg);
 }
  50% {
    clip: rect(32px, 9999px, 91px, 0);
    transform: skew(0.08deg);
 }
  55% {
    clip: rect(19px, 9999px, 37px, 0);
    transform: skew(0.64deg);
 }
  60% {
    clip: rect(14px, 9999px, 54px, 0);
    transform: skew(0.72deg);
 }
  65% {
    clip: rect(77px, 9999px, 32px, 0);
    transform: skew(0.5deg);
 }
  70% {
    clip: rect(70px, 9999px, 82px, 0);
    transform: skew(0.56deg);
 }
  75% {
    clip: rect(7px, 9999px, 14px, 0);
    transform: skew(0.27deg);
 }
  80% {
    clip: rect(46px, 9999px, 3px, 0);
    transform: skew(0.02deg);
 }
  85% {
    clip: rect(13px, 9999px, 75px, 0);
    transform: skew(0.49deg);
 }
  90% {
    clip: rect(1px, 9999px, 75px, 0);
    transform: skew(0.68deg);
 }
  95% {
    clip: rect(4px, 9999px, 24px, 0);
    transform: skew(1deg);
 }
  100% {
    clip: rect(25px, 9999px, 17px, 0);
    transform: skew(0.63deg);
 }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
 }
  10% {
    transform: skew(3deg);
 }
  20% {
    transform: skew(5deg);
 }
  30% {
    transform: skew(1deg);
 }
  40% {
    transform: skew(5deg);
 }
  50% {
    transform: skew(-4deg);
 }
  60% {
    transform: skew(5deg);
 }
  70% {
    transform: skew(-1deg);
 }
  80% {
    transform: skew(-3deg);
 }
  90% {
    transform: skew(5deg);
 }
  100% {
    transform: skew(-1deg);
 }
}